*{
    margin: 0px;
    padding: 0px;
}

#div1{
    width: 280px;
    left: 500px;
    top: 250px;
    position: absolute;
}

input[type = "button"]{
    width: 60px;
    margin-right: 5px;
}

input[type = "text"]{
    width: 267px;
    text-align: right;
    height: 30px;
    align-content: end;
    box-sizing: border-box;
    padding-right: 5px;
}

input[type = "button"]:hover{
    background: gray;
    border: 1px solid;
}